---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <meta http-equiv="refresh" content="0; URL=/toyp-2025" />
  <meta name="robots" content="noindex" />
  <div class="flex items-center justify-center h-screen">
    <p class="text-lg">Redirigiendo a TOYP 2025…</p>
  </div>
</Layout>
